/*
By Davinder Rana

Designed mobile-first.
It will work on desktop, but currently looks better on mobile.
I'll study up on how to make webpages responsive next!
 */

body {
  background-color: green;
  padding: 30px 20px 20px;
  font-family: Times, serif;
  text-align: center;
}

h1 {
  font-size: 130px;
  text-align: center;
  margin: 0 0 50px 0;
  padding: 0;
}

h2 {
  font-size: 70px;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: 48px;
  margin: 10px;
}

h4 {
  font-size: 75px;
  color: #efffff;
  display: inline-block;
  margin: 30px 0 30px;
  font-family: Trebuchet, "Arial Narrow", Arial, sans-serif;
}

main {
  position: relative;
}

header {
  position: relative;
  z-index: 1;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.colour {
  position: absolute;
  z-index: 0
}

.card {
  height: 312px;
  width: 224px;
  border: 0px hidden transparent;
  border-radius: 20px;
  display: none;
  z-index: 1;
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.noticeParent {
  position: absolute;
  top: 685px;
  right: 0;
  left: 0;
}

.noticeParent h2 {
  font-size: 100px;
}

.notice {
  background-color: #F8FA90;
  border-radius: 10px;
  padding: 5px 10px 5px;
  visibility: 0;
}

.mainNotice {
  display: inline-block;
}

.dealerNotice,
.playerNotice {
  right: 0;
  left: 0;
}

.scoreDiv {
  display: inline-block;
  margin: 0 50px 0;
}

.relative {
  position: relative;
}

#dealer, #player {
  display: inline-block;
  padding: 0 25px 15px;
  border: 5px hidden rgba(255,255,255,0.6);
  border-radius: 25px;
  height: 395px;
  text-align: left;
  min-width: 452px;
}

#dealerTurnDiv, #playerTurnDiv{
  color: white;
  opacity: 0;
}

#dealerHit,
#dealerStand,
#playerHit,
#playerStand {
  opacity: 0;
  display: none;
  color: white;
  font-size: 36px;
}

#centre {
  position: relative;
  clear: both;
  margin: 50px;
}

#buttons {
  position: relative;
  clear: both;
  text-align: center;
  margin-top: 80px;
}

#hit, #stand {
  height: 80px;
  width: 280px;
  background-color: #efffff;
  border: 5px solid #b0e0ef;
  display: inline-block;
  margin: 0 18px 0;
  border-radius: 10px;
  opacity: 0.4;
  padding: 8px 0px 8px;
}

#beginParent {
  display: block;
  visibility: 1;
  z-index: 20;
}

#begin {
  padding: 16px 44px 16px;
}

#winParent { z-index: 21; }
#loseParent { z-index: 22; }
#drawParent { z-index: 23; }

#win, #lose, #draw {
  display: none;
  opacity: 0;
  border-radius: 0;
  height: 210px;
}

#winSpan, #loseSpan, #drawSpan {
  font-size: 50px;
}

#winH, #loseH, #drawH {
  width: 99%;
}

#playerBustParent,
#playerTwentyOneParent,
#dealerBustParent,
#dealerTwentyOneParent {
  position: absolute;
  height: 10px;
  display: block;
  visibility: 1;
}

#playerBustParent { z-index: 11; }

#playerTwentyOneParent { z-index: 12; }

#dealerBustParent { z-index: 13; }

#dealerTwentyOneParent { z-index: 14; }

#playerBust,
#playerTwentyOne,
#dealerBust,
#dealerTwentyOne {
  position: absolute;
  border: 4px solid green;
  margin: 0 auto;
  opacity: 0;
}

#dealerBust, #dealerTwentyOne { top: 429px; }

#playerBust, #playerTwentyOne { top: 1089px; }

#playerBust, #dealerBust { width: 158px; }

#playerTwentyOne, #dealerTwentyOne { width: 313px; }

#dealerGrid {
  display: grid;
  max-width: 580px;
  grid-template-columns: 1fr 1fr;
}
#dealer1 { grid-column: 1 / span 1; }
#dealer2 { grid-column: 2 / span 1; }
#dealer3 { grid-column: 3 / span 1; }
#dealer4 { grid-column: 4 / span 1; }
#dealer5 { grid-column: 5 / span 1; }
#dealer6 { grid-column: 6 / span 1; }
#dealer7 { grid-column: 7 / span 1; }
#dealer8 { grid-column: 8 / span 1; }
#dealer9 { grid-column: 9 / span 1; }
#dealer10 { grid-column: 10 / span 1; }
#dealer11 { grid-column: 11 / span 1; }
#dealer12 { grid-column: 12 / span 1; }

#playerGrid {
  display: grid;
  max-width: 580px;
  grid-template-columns: 1fr 1fr;
}
#player1 { grid-column: 1 / span 1; }
#player2 { grid-column: 2 / span 1; }
#player3 { grid-column: 3 / span 1; }
#player4 { grid-column: 4 / span 1; }
#player5 { grid-column: 5 / span 1; }
#player6 { grid-column: 6 / span 1; }
#player7 { grid-column: 7 / span 1; }
#player8 { grid-column: 8 / span 1; }
#player9 { grid-column: 9 / span 1; }
#player10 { grid-column: 10 / span 1; }
#player11 { grid-column: 11 / span 1; }
#player12 { grid-column: 12 / span 1; }

#triangle-up {
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 30px solid #b0e0ef;
      margin-left: 0;
      opacity: 0;
    }

#triangle-down {
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 30px solid #b0e0ef;
      margin-right: 0;
      opacity: 0;
    }

@media (min-width: 1000px) {
  body {
    transform: scale(0.5);
    transform-origin: 0 0;
  }
}

@media (max-width: 990px) {
  #bottom {
    width: 0;
    height: 0;
    border-top: 200px solid #398c30;
    border-right: 990px solid transparent;
    top: 290px;
    left: -10px;
  }

  #top {
    width: 690px;
    height: 0;
    border: 150px solid #398c30;
    top: -10px;
    left: -10px;
  }
}
